<div class="row">
	<div class="large-4 columns push-4">
		<form {{action "login" on="submit"}}>
			<fieldset>
				<legend>Login</legend>
				{{input value=username type="text" placeholder="Username"}}
				{{input value=password type="password" placeholder="Password"}}
				<input type="submit" value="Login" class="button success large-12">
			</fieldset>
		</form>
	</div>
</div>